* {
	margin: 0;
	padding: 0;
}
body {
	font: 16px Georgia, serif;
  	padding: 50px;
}
a {
  color: #00B7FF;
}
#page-wrap {
	margin: 2% auto;
	color: white;
}
#page-wrap > .main {
	border: 1px solid #999;
	padding: 1%;
	margin-bottom: 1px;
	color: black;
}
#ErrorMsgs { 
	color: #f61; 
	font-size: smaler;
}
section > div {
	padding: 20px;
}
header, nav, section {
	background: #eee;
	text-align: center;
}
section table {
	margin: 0 auto;
}
footer {
	background: #eee;
	text-align: center;
}
nav span {
	margin: 0 10px 0 0;
}
.img-circle {
	border-radius: 10px;
	max-width: 120px;
	max-height: 120px;
}
.right {
	float: right;
}